<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Lewshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lewNavbar"
      aria-controls="lewNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="lewNavbar">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="wrapper pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div>
          <h2>Categories</h2>
        </div>
        <!-- Temporary hard-coded (TODO) -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="/category/1" class="nav-link">Books</a>
          </li>
          <li class="nav-item">
            <a routerLink="/category/2" class="nav-link">Maps</a>
          </li>
        </ul>
        <!-- --- -->
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>