<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="/product" class="navbar-brand lewshop-brand">LEWSHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lewNavbar"
      aria-controls="lewNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="lewNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <app-search></app-search>
        </li>
        <li class="nav-item">
          <app-cart-status></app-cart-status>
        </li>
        <li class="nav-item">
          <!-- <app-login-status></app-login-status> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer fixed-bottom fot mt-5">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col">
          <p> Copyrights &copy; 2021</p>
        </div>
        <div class="col">
          <p>Michal Lewandowski</p>
        </div>
      </div>
    </div>
  </footer>
</div>