<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-5 text-center" *ngFor="let product of products">
            <a routerLink="/product/{{ product.id }}">
                <img src="{{ product.imageUrl }}">
            </a>
            <a routerLink="/product/{{ product.id }}">
                <p class="mb-0">{{ product.name }}</p>
            </a>
            <p>{{ product.unitPrice | currency:'EUR' }}</p>
        </div>

        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            No products found
        </div>

        <div class="col-md-8"></div>
        <div class="col-md-4">
            <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [maxSize]="5"
            [boundaryLinks]="true" [collectionSize]="totalElements" (pageChange)="listProducts()">
            </ngb-pagination>
        </div>

    </div>
</div>