<div class="card">
    <h2 class="card-header">Your order has been placed!</h2>
    <div class="card-body">
      <h5 class="card-title pb-5">Order Tracking Number: {{ orderTrackingNumber }}</h5>
      <a routerLink="/product" class="btn btn-info">Back To Shopping</a>
      <p class="warning pt-3">Please save somewhere your order tracking number
         if you want to track what is currently happening with your order under our tracking service (shipping icon on the navigation bar)</p>
    </div>
  </div>
