<div class="container">
<div *ngIf="cartItems?.length > 0; else elseBlock" class="tab">
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempCartItem of cartItems">
                <td>
                    <img src="{{ tempCartItem.imageUrl }}">
                </td>
                <td>{{ tempCartItem.name }}</td>
                <td>
                    <button (click)="decrementProductQuantity(tempCartItem)" class="btn btn-sm">
                        <i class="fas fa-minus"></i>
                    </button>
                    <span>{{ tempCartItem.quantity }}</span>
                    <button (click)="incrementProductQuantity(tempCartItem)" class="btn btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </td>
                <td>{{ tempCartItem.unitPrice * tempCartItem.quantity | currency:'EUR'}}</td>
                <td>
                    <button (click)="removeProductFromCart(tempCartItem)" class="btn btn-info">
                        Remove Item
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <hr>
    <p>Total Price: {{ totalPrice | currency:'EUR'}}</p>
    <a routerLink="/checkout" class="btn btn-info">Checkout</a>
</div>
<ng-template #elseBlock> <h2>Cart is empty!</h2> </ng-template>
</div>