#cartStatusWrap {
    margin: 6px 6px 0 35px;
}

#cartDetailsLink {
    color: #333;
    margin-left: 20px;
}

#cartDetailsLink:hover {
    color: #000;
    text-decoration: none;
}

#quantity {
    padding-left: 5px;
}